# Systemd socket activation for web
# Learn more: https://www.freedesktop.org/software/systemd/man/systemd.socket.html
# Socket activation allows systemd to start your service on-demand when a connection arrives

[Unit]
Description={app_name} web socket
# The service will be started automatically when connections arrive
PartOf={app_name}.service

[Socket]
# Unix socket path
ListenStream=/run/{app_name}/{app_name}.sock
SocketMode=0660
SocketUser=www-data
SocketGroup=www-data

# For TCP sockets, use:
# ListenStream=8000

# For multiple addresses:
# ListenStream=127.0.0.1:8000
# ListenStream=[::1]:8000

# Socket options
# Accept=false  # false = one service instance handles all connections
# MaxConnections=64

[Install]
WantedBy=sockets.target
