{{ domain_name }} {
	{%- for path, directory in statics.items() %}
	handle_path {{ path }} {
		root * {{ directory }}
		file_server
	}
	{%- endfor %}

	{%- if routes %}
	{%- for route in routes %}
	handle {{ route.path }}* {
		{%- if route.strip_path %}
		uri strip_prefix {{ route.path }}
		{%- endif %}
		reverse_proxy {{ route.upstream }}
	}
	{%- endfor %}
	{%- endif %}

	{%- if upstream %}
	reverse_proxy {{ upstream }}
	{%- endif %}
}
