{%- for site in sites %}
{{ site.domains | join(', ') }} {
	{%- for path, target in site.routes.items() %}
	{%- if target is string %}
	{# Simple route: string means process name #}
	{%- set upstream = processes[target].listen %}
	handle {{ path }} {
		reverse_proxy {{ upstream }}
	}
	{%- else %}
	{# Complex route: RouteConfig dict #}
	{%- if target.static %}
	{# Static file route #}
	{%- set directory = target.static.format(user=user, app_dir=app_dir) %}
	handle_path {{ path }} {
		root * {{ directory }}
		file_server
	}
	{%- elif target.process %}
	{# Process route with options #}
	{%- set upstream = processes[target.process].listen %}
	{%- if target.strip_prefix %}
	handle_path {{ path }} {
		reverse_proxy {{ upstream }}
	}
	{%- else %}
	handle {{ path }} {
		reverse_proxy {{ upstream }}
	}
	{%- endif %}
	{%- endif %}
	{%- endif %}
	{%- endfor %}
}
{% if not loop.last %}

{% endif %}
{%- endfor %}
