# Caddyfile for {app_name}
# Learn more: https://caddyserver.com/docs/caddyfile

book.13.204.64.39.nip.io {

    # Serve static files
    handle /static/* {
        root * {app_dir}/static/
        file_server
    }

    # Proxy to web service
    handle  {
        reverse_proxy unix//run/bookstore/bookstore.sock
    }
}
