app = "bookstore"
requirements = "requirements.txt"
python_version = "3.13"
versions_to_keep = 2
build_command = "uv build && uv pip compile pyproject.toml -o requirements.txt"
distfile = "./../../../dist/bookstore-{version}-py3-none-any.whl"
installation_mode = "python-package"

[aliases]
console = "app exec shell"
dbconsole = "app exec dbshell"
shell = "server exec --appenv bash"

[[hosts]]
name = "default"
address = "dotnet"
envfile = ".env.prod"
user = "tobi"

[[hosts]]
name = "vagrant"
address = "localhost"
envfile = ".env.prod"
user = "vagrant"
key_filename = "../../../.vagrant/machines/default/virtualbox/private_key"
port = 2222

[replicas]
worker = 2
