# Web service
# Learn more: https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description={app_name} web server
After=network.target

[Service]
Type=simple
User={user}
# Run release command before starting
ExecStartPre={app_dir}/bookstore migrate && bookstore collectstatic --no-input && sudo mkdir -p /var/www/bookstore/static/ && sudo rsync  -a --delete staticfiles/ /var/www/bookstore/static/

# Main command
ExecStart={app_dir}/.venv/bin/gunicorn bookstore.wsgi:application --bind unix:/run/bookstore/bookstore.sock --access-logfile - --error-logfile -

[Install]
WantedBy=multi-user.target
